/**
 * Resources Listing Page
 */
.resources-page {
  .main-body {
    position: absolute;
    left: 18%;
    width: 82%;
    padding: 50px 200px;
    height: 100%;
    z-index: 999;
    @include boxSizing(border-box);
    .language-desc {
      .language-logo {
        height: 50px;
        display: block;
        margin: auto;
      }
      .language-header {
        font-family: $main-font;
        color: $primary-color;
        text-align: center;
        @include fontSize(25);
        .language-title {
          color: $accent-color;
        }
      }
    }
    .posts {
      margin: 50px 0 100px;
      .post-title {
        color: $primary-color;
        font-family: $code-font;
        @include fontSize(40);
      }
      .post-meta {
        .author {
          display: inline-block;
          margin-right: 20px;
          color: $primary-color;
        }
        .price {
          color: $primary-color;
          display: inline-block;
        }
        .name,
        .amnt {
          color: $accent-color;
        }
        .post-tags-list {
          list-style-type: none;
          margin: 20px 0;
          //display: inline-block;
          .post-tags {
            display: inline-block;
            @include fontSize(12);
            a {
              background: darken(white, 10%);
              border-radius: 2px;
              padding: 5px 10px;
              color: lighten($primary-color, 10%);
              @include boxSizing(border-box);
              &:hover {
                background: $accent-color;
                color: white;
              }
            }
          }
        }
        .post-details {
          color: lighten($primary-color, 20%);
          line-height: calculateRem(24);
          @include fontSize(16);
        }
      }
    }
  }
}