/**
 * Defining Color Variables
 */
$primary-color:                     #444444;
$accent-color:                      #2ecc71;
$white:                             #FFFFFF;

/**
 * Font-Families
 */
$main-font:                         "Roboto", sans-serif;
$code-font:                         "Ubuntu Mono", sans-serif;